.product {
	@include r-flex;
	justify-content: space-between;
	width: 70%;
	padding: 25px;
	box-sizing: border-box;
	background-color: var(--primary-color);
	color: var(--font-color);
    border-radius: 8px;
    gap: 10px;

	.information {
		@include c-flex;
        align-items: flex-start;
		justify-content: space-between;
        gap: 8px;

        .price {
            color: var(--secondary-color);
            font-size: 18px;
        }

        button{
            @include c-flex;
            justify-content: center;
            padding: 10px 15px;
            border-radius: 5px;
            margin-top: 15px;
            border: none;
            outline: none;
            background-color: var(--secondary-color);
            color: #000;
            font-size: 16px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover{
                background-color: var(--hover-color);
            }
            
        }
	}

	.images {
        @include c-flex;

		img {
			width: 216px;
			height: 216px;
		}
	}
}

@media only screen and (max-width: 1240px) {
    .product{
        width: 80%;
    }
}

@media only screen and (max-width: 991px) {
    .product{
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .product{
        flex-direction: column-reverse;

        .information{
            button{
                align-self: center;
            }
        }
    }
}